<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='mainpage_prof.css') }}" />
    </head>
    <body>
        <div id=student_button class="format">
            <form method="POST" action="/create_class_prof">
                <input placeholder="class name" type="text" id="class_name" name="class_name" required ><br>
                <input placeholder="class code" type="password" id="class_code" name="class_code" required><br>
                <input placeholder="class_size" name="class_size" type="number" required><br>
                
                <button type="submit">생성하기</button>
            </form>
        </div>
    </body>      
</html>