<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='loginpage.css') }}" rel="stylesheet" />
    </head>
    <body>
        <form action="/login" method="POST"  id="myForm">
            <label for="name">Name:</label>
            <input class=button value="Username" type="text" id="username" name="name" required >
            <br>
            <label for="password">password:</label>
            <input class=button type="password" id="password" name="password" required>
            <br>
            <label for="password">password match:</label>
            <input class=button type="password" id="password_match" name="password_match" required>
            <br>
            <button class=button type="submit">로그인</button>
            <button class=button type="button">회원가입</button>
        </form>
        <p id="result"></p>
        <script>
                var myform = document.getElementById("myForm");
                console.log(myform);
                console.log(myform.childNodes);
                
                function createContent(event) {
                    const name = document.getElementById('username').value;
                    const color = document.getElementById('password').value;
                    }
                    document.getElementById('myForm').addEventListener('submit',createContent);
    
        </script>
        
    </body>      
</html>