<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='loginpage.css') }}" rel="stylesheet" />
    </head>
    <body>
            <button onclick="choose_stu()" class="button" id="stu_option" >학생</button>
            <button onclick="choose_prof()" class="button" id="prof_option">교수자</button>
            <br>
            <form action="/login" method="POST"  id="myForm">    
            <div id=student_button class="format">
                <input type="hidden" name="prof_or_stu" value="student">
                <input class="input" placeholder="username" type="text" id="username" name="username" required >
                <br>
                <input class="input" placeholder="password"type="password" id="password" name="password" required>
                <button id="login" class="input" type="submit">로그인</button>
            </div>

            <div id=prof_button class="format">
                <input type="hidden" name="prof_or_stu" value="prof">
                <input class="input" placeholder="prof username" type="text" id="username" name="username" required >
                <br>
                <input class="input" placeholder="password"type="password" id="password" name="password" required>
                <button id="login" class="input" type="submit">로그인</button>
            </div>
            
            <button id="sign_up" class="input" type="button">회원가입</button>
            {% with messages = get_flashed_messages() %}
                {% if messages %}     
                <script>
                    alert("{{ messages[-1] }}");
                </script>
                {% endif %}
            {% endwith %}
        </form>
        <p id="result"></p>
        
    <script>
        var prof_button = document.getElementById("prof_button");
        var prof_option = document.getElementById("prof_option");
        var stu_option = document.getElementById("stu_option");
        var student_button = document.getElementById("student_button");
        choose_stu();
        function choose_stu(){
            stu_option.style.backgroundColor = "blue";
            stu_option.style.color = "white";
            prof_option.style.backgroundColor = "white";
            prof_option.style.color = "black";

            student_button.style.display = "block";
            prof_button.style.display = "none";
        }

        function choose_prof(){
            stu_option.style.backgroundColor = "white";
            stu_option.style.color = "black";
            prof_option.style.backgroundColor = "blue";
            prof_option.style.color = "white";
            student_button.style.display = "none";
            prof_button.style.display = "block";

        }

    </script>
    </body>      
</html>