<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='loginpage.css') }}" rel="stylesheet" />
    </head>
    <body>
        <form action="/login" method="POST"  id="myForm">
            <label for="name">Name:</label>
            <input class=button placeholder="username" type="text" id="username" name="username" required >
            <br>
            <label for="password">password:</label>
            <input class=button type="password" id="password" name="password" required>
            <br>
            <label for="password">password match:</label>
            <input class=button type="password" id="password_match" name="password_match" required>
            <br>
            <button class=button type="submit">로그인</button>
            <button class=button type="button">회원가입</button>
        </form>
        <p id="result"></p>

        
    </body>      
</html>