<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='mainpage_stu.css') }}" />
    </head>
    <body>
    <div class="container">
        <div class="sidebar">
        <div class="profile"> 
            <div class="profile-pic"></div>
            <h3>{{session['username']}}</h3>
            <p>ID: {{session['student_number']}}</p>
            <p>Major: {{session['major']}} </p> 
            <p>Grade: {{ session['grade']}} </p> 

            </div>
            <div class= "join_team"> 
            <form action="/join_class" method="POST">    
                <input placeholder = "class code" type="text" name= "class_code" required>
                <button id="team_button" type="submit">join_class</button>
            </form>
            </div>
            <div class= "notice"> 
                <p>notice1</p>
                <p>notice2</p>
                <p>notice3</p>
            </div>
        </div>
        <div class= "class_list"> 
            <a href="http://127.0.0.1:8000/mainpage_stu"> class1 </a>
            <a href="http://127.0.0.1:8000/mainpage_stu"> class2 </a>
            <a href="http://127.0.0.1:8000/mainpage_stu"> class3 </a>
        </div>

    </div>
    <script>
        function create_team_button(){
            alert("make");
        }
    </script>
    </body>      
</html>