<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='mainpage_stu.css') }}" />
    </head>
    <body>
    <div class="container">
        <div class="sidebar">
        <div class="profile"> 
            <div class="profile-pic"></div>
            <h3>{{session['username']}}</h3>
            <p>ID: {{session['student_number']}}</p>
            <p>Major: {{session['major']}} </p> 
            <p>Grade: {{ session['grade']}} </p> 

            </div>
            <div class= "join_team"> 
            <form action="/join_class" method="POST">    
                <input placeholder = "class code" type="text" name= "class_code" id="class_code" required>
                <button id="team_button" type="submit" onsubmit="join_class_socket()">join_class</button>
            </form>
            </div>
            <div class= "notice"> 
                <p>notice1</p>
                <p>notice2</p>
                <p>notice3</p>
            </div>
        </div>
        <div class= "class_list"> 
            {% for class in included_class_info %}
                <form action="/teample_stu" method="POST" >
                    <input type="hidden" name="class_code" value="{{class[1]}}">
                    <button type="submit">{{ class[0] }} (class code: {{ class[1] }})</button>
                </form>
            {% endfor %}
        </div>

    </div>
    {% with messages = get_flashed_messages() %}
                {% if messages %}     
                <script>
                    alert("{{ messages[-1] }}");
                </script>
                {% endif %}
    {% endwith %}
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    
    <script>
    const socket = io();
        // 클래스 채팅방에 입장
        function join_class_socket()
           {
           const class_code = document.getElementById("class_code").value;
           const username = "{{ session['username'] }}";
           socket.emit('join_class_socket', {class_code: class_code, username: username});
           }
       </script>
    </body>      
</html>