<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='mainpage_prof.css') }}" />
    </head>
    <body>
    <div class="container">
        <div class="sidebar">
        <div class="profile"> 
            <div class="profile-pic"></div>
            <h3>{{session['username']}}</h3>
            <p>ID: {{session['prof_number']}}</p>
            <p>Major: {{session['major']}} </p> 
        </div>
            <div class= "create_class"> 
            <form action="/move_to_create_class" method="POST">    
                <button id="create_class_button" type="submit">create class</button>
            </form>
            </div>
        </div>
        <div class= "class_list"> 
            {% for class in prof_all_class_info %}
            <form action="/teample_prof" method="POST" >
            <input type="hidden" name="class_code" value="{class[1]}">
            <button type="submit">{{ class[0] }} (class code: {{ class[1] }})</button>
            </form>
            {% endfor %}
        </div>

    </div>
    </body>      
</html>