<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='loginpage.css') }}" rel="stylesheet" />
    </head>
    <body>
        <form action="/signup" method="POST"  id="myForm">
            <button onlclick="stu_option" class="button" id="stu_option" >학생</button>
            <button onlclick="prof_option" class="button" id="prof_option">교수자</button>
            <br>
            <div class="format">
                <input class="input" placeholder="username" type="text" id="username" name="username" required >
                <br>
                <input class="input" placeholder="password"type="password" id="password" name="password" required>
                <br>
                <input class="input" placeholder="password check"type="password" id="password_match" name="password_match" required>
                <br>
                <input class="input" placeholder="major"type="text" id="major" name="major" required>
                <br>
                <select class="input" placeholder="Grade" id="grade" name="grade" required>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <br>
                <input class="input" placeholder="Student Number"type="text" id="studentNUM" name="studentNUM" required>
                <br>
                <button id="login" class="input" type="submit">로그인</button>
                <button id="sign_up" class="input" type="button">회원가입</button>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </form>
        <p id="result"></p>
    <script>
        function stu_option(){
            stu_option.style.color = "blue"
            prof_option.style.color = "white"
        }

        function prof_option(){
            stu_option.style.color = "white"
            prof_option.style.color = "blue"

        }

    </script>
    </body>      
</html>